.analytics-container {
    background: var(--color-white);
    /* box-shadow: var(--box-shadow-1); */
    z-index: 0;
    transition: var(--default-transition);
    transition-delay: 0.5s;
    position: relative;
    height: fit-content;
    margin: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;

}

.analytics-container h1 {
    color: var(--color-black);
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
}

.chart-row {
    display: flex;
    flex-direction: row;
    /* background-color: navy; */
    border-radius: 10px;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: center;
    box-shadow: var(--box-shadow-1);
    margin: 10px 0px;
    padding: 25px;
}

.chart-row-invisible {
    box-shadow: none !important;
    padding: 0px !important;
    margin: 0px !important;
    /* background-color: aliceblue !important; */
}

#doughnut-left {
    margin-right: 10px;
    margin-left: 0px !important;
}

#doughnut-right {
    margin-left: 10px;
    margin-right: 0px !important;
}


.chart-container {
    height: fit-content;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.chart-column {
    margin: 0px 50px;
}

#bar-chart {
    width: 700px;
    height: 350px;
    /* background-color: brown; */
}

#technique-chart {
    width: 100%;
}

.technique-box {
    background-color: var(--color-grey-5);
    margin: 2px;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid var(--color-accent-hover); */
    transition: var(--fast-transition);
    /* padding: 20% 2px 20% 2px; */
}

.technique-box:hover {
    border: 3px solid var(--color-accent-hover);
    cursor: pointer;
}

.technique-box p {
    color: white;
    text-align: center;
    font-size: .8rem;
    margin: 3px;
    /* margin: 20% 2px 20% 2px; */
}



.cal-container {
    display: grid;
    grid-template-columns: repeat(52, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-auto-flow: column;
    /* overflow-x: scroll; */
}

.calendar-header-row {
    display: flex;
    align-items: center;
    justify-content: center;

}

#cal-select {
    background-color: var(--color-white) !important;
    color: var(--color-black) !important;
    border: 3px solid var(--color-grey-2);
    border-radius: 10px;
    height: 40px;
    margin: 5px 0px;
    padding: 3px 30px;
    font-size: 1.2rem;
    width: fit-content;
    transition: all .5s linear;
}

#calendar-date {
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
}

.calendar-paragraph {
    text-align: center;
}


.cal-box {
    width: 15px;
    height: 15px;
    border-radius: 1px;
    background-color: var(--color-grey-1);
    margin: 2px;
    transition: var(--fast-transition);
}

.cal-box:hover {
    cursor: pointer;
    border: 2px solid var(--color-accent);
}

#calendar-detail {
    color: var(--color-black);
}

.tooltip-outer-screen {
    height: 100%;
    width: 100%;
    position: fixed;
    top: -75px;
    /* background-color: rgba(43, 43, 43, 0.2); */
    pointer-events: none;
    visibility: visible;
    display: block;
    z-index: 5;
}