.analytics-container {
    background: var(--color-white);
    box-shadow: var(--box-shadow-1);
    z-index: 0;
    transition: var(--default-transition);
    transition-delay: 0.5s;
    position: relative;
    height: fit-content;
    margin: 15px;
    
    border-radius: 10px;

}

.analytics-container h1 {
    color: var(--color-black);
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
}

.chart-row {
    display: flex;
    flex-direction: row;
    /* background-color: navy; */
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    /* background-color: aliceblue;
    margin: 5px; */
}

.chart-container {
    height: fit-content;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.chart-column {
    margin: 0px 50px;
}

#bar-chart {
    width: 700px;
    height: 350px;
    /* background-color: brown; */
}

#technique-chart {
    max-width: 400px;
}

.technique-box {
    background-color: var(--color-grey-2);
    margin: 2px;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 20% 2px 20% 2px; */
}

.technique-box p {
    color: white;
    text-align: center;
    font-size: .8rem;
    margin: 3px;
    /* margin: 20% 2px 20% 2px; */
}

.technique-box:hover {
    cursor:auto;
}

.cal-container {
    display: grid;
    grid-template-columns: repeat(52, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-auto-flow: column;
    overflow-x: scroll;
}

#cal-select {
    background-color: var(--color-white) !important;
    color: var(--color-black) !important;
    border: 3px solid var(--color-grey-2);
    border-radius: 10px;
    height: 40px;
    margin-bottom: 5px;
    padding: 3px 30px;
    font-size: 1.2rem;
    width: fit-content;
    transition: all .5s linear;
}


.cal-box {
    width: 15px;
    height: 15px;
    border-radius: 1px;
    background-color: var(--color-grey-1);
    margin: 2px;
    transition: var(--fast-transition);
}

.cal-box:hover {
    cursor: pointer;
    border: 2px solid var(--color-accent);
}