
  
[class*=col-] {
    float: left;
    padding: 15px 25px;
}

/* CSS RESET */

input,
textarea,
select,
button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  outline: none;
  appearance: none;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}
  
:root {
    --color-transparent: rgba(0, 0, 0, 0);
    --color-youtube: #ff0000;
    --color-github: #2da44e;
    --color-linkedin: #0a66c2;
    --color-facebook: #1877f2;
    --color-review-star: yellow;
}


  
.light {
    --color-transparent: rgba(0, 0, 0, 0);
    --color-black-trans: rgba(0,0,0,0.3);
    --color-white-trans: rgba(255, 255, 255, 0.3);
    --color-highlight: #bbe4bf;
    --color-light: #88AB76;
    --color-light-trans: #88ab76d8;
    --color-secondary: #367b92;
    --color-saturated: #005c07;
    --color-dark: #253c22;
    --color-accent: #046cf3;
    --color-success: #07c400;
    --color-accent-hover: #659feb;
    --color-important: #d34e36;
    --color-accent-light: #fff3b6;
    --color-white: #ffffff;
    --color-trans-white: rgba(37, 26, 26, 0);
    --color-black: #ffffff;
    --color-grey-0: #f8f8f8;
    --color-grey-1: #dbe1e8;
    --color-grey-2: #b2becd;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #2a2e35;
    --color-grey-6: #12181b;
    
    --color-red: #ff0000;
    
    --default-transition: all .4s ease-in-out;
    --fast-transition: all .2s ease-in-out;
    --slow-transition: all 1s ease-in-out;
    --box-shadow-1: 0 3px 15px rgba(0,0,0,0.3);
    --font: Oswald, sans-serif;
    --font-paragraph: Noto Sans;
}

.dark {
    --color-transparent: rgba(0, 0, 0, 0);
    --color-black-trans: rgba(0,0,0,0.3);
    --color-white-trans: rgba(255, 255, 255, 0.3);
    --color-highlight: #bbe4bf;
    --color-light: #88AB76;
    --color-light-trans: #88ab76d8;
    --color-secondary: #367b92;
    --color-saturated: #005c07;
    --color-dark: #253c22;
    --color-accent: #046cf3;
    --color-success: #07c400;
    --color-accent-hover: #659feb;
    --color-important: #d34e36;
    --color-accent-light: #fff3b6;
    --color-white: #000000;
    --color-trans-white: rgba(37, 26, 26, 0);
    --color-black: #000000;
    --color-grey-0: #f8f8f8;
    --color-grey-1: #dbe1e8;
    --color-grey-2: #b2becd;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #2a2e35;
    --color-grey-6: #12181b;
    --color-transparent: rgba(0, 0, 0, 0);
    --color-youtube: #ff0000;
    --color-github: #2da44e;
    --color-linkedin: #0a66c2;
    --color-facebook: #1877f2;
    --color-review-star: yellow;
    --color-red: #ff0000;
    
    --default-transition: all .4s ease-in-out;
    --fast-transition: all .2s ease-in-out;
    --slow-transition: all 1s ease-in-out;
    --box-shadow-1: 0 3px 15px rgba(0,0,0,0.3);
    --font: Oswald, sans-serif;
    --font-paragraph: Noto Sans;
}

/* p, h1, h2, a, input, button {
    color: var(--color-white);
} */

a:hover {
    color: var(--color-grey-2);
}

.error {
    color: var(--color-red);
}