#practice-content {
    padding-top: 100px;
    background-color: var(--color-white);
    color: var(--color-white);
    margin: 0;
}

#practice-content h2 {
    color: var(--color-black);

}

.table-container {
    box-shadow: var(--box-shadow-1);
    border-radius: 10px;
    min-height: 400px;
    padding: 10px 5%;
    /* max-width: 1200px; */

}

.category-row {
    width: 100%;
    padding: 5px 15px;
    margin: 10px auto;
    border-radius: 9px;
    background-color: var(--color-grey-1);
    transition: var(--fast-transition);
    animation: category-enter 0.5s ease-out 0s 1 forwards;
}

@keyframes category-enter {
    0% {
        top: 10px;
        opacity: 0;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}

.category-row:hover {
    background-color: var(--color-grey-0);
    color: var(--color-white) !important;
    box-shadow: var(--box-shadow-1);
    transition: var(--fast-transition);
    cursor: pointer;

}

.fraction { 
    color: inherit;
    width: fit-content;
    min-width: 50px;
}


.progress-bar, progress-bar-back {
    height: 8px;
    position: relative;
    grid-column: 1;
    grid-row: 1;
    display: visible;
    
    
}

.progress-bar {
    background-color: var(--color-success);
    width: 0%; 
    border-radius: 5px;
    transition: var(--default-transition);
}

.progress-bar-back {
    background-color: var(--color-grey-2);
    width: 100%;
    z-index: 0;
    grid-column: 1;
    grid-row: 1;
    border-radius: 5px;
}

.progress-container {
    display: flex;
}

.progress-bar-container {
    display: grid;
    width: 100%;
    margin: auto 20px;
}
.no-margin {
    padding: 0 !important;
}

.global-progress {
    margin: 0px 2% 3% 2%;
}

.global-progress .progress-bar {
    height: 12px;
    z-index: 5;
}

.global-fraction {
    margin: 0px auto;
}




/* INNER PIECES TABLE */

.hide-pieces-table {
    opacity: 0;
    height: 0;
    width: 0;
    overflow: hidden;
    /* display: none; */
    position: absolute;
    visibility: hidden;
    /* transition: var(--default-transition); */
}



.pieces-table {
    background-color: var(--color-white);
    width: 100%;
    text-align: center;
    height: 100px;
    border-radius: .8rem;
    overflow: hidden;
    border: 5px;
    color: var(--color-black);
    /* transition: var(--default-transition); */
}

/* .piece-preview {
    z-index: 10;
    overflow: visible;
} */

.pieces-table:hover {
    cursor:default;
}

table, th, td {
    padding: 1rem;
    border-collapse: collapse;
    border-bottom: 1px solid var(--color-grey-1);
}

.title-col {
    width: 50%;
    text-align: left;
}

.title-head {
    text-align: left;
}

.table-body {
    width: 95%;
    max-height: calc(89% - .8rem);
    margin: .8rem auto;
    border-radius: .6rem;
}

.table-body::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.table-body::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table-body:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    
}

/* tbody tr:nth-child(even) {
    color: 
} */

tbody tr:hover {
    box-shadow: var(--box-shadow-1);
}

.complete-icon {
    fill: var(--color-success);
    opacity: 1;
    max-height: 25px;
    transition: var(--fast-transition);
    left: 12.5px;
}



.complete-icon:hover {
    fill: var(--color-success-hover);
}

.open-icon {
    opacity: 1;
    fill: var(--color-grey-2);
    max-height: 25px;
    transition: var(--fast-transition);
    margin: auto;
    left: -12.5px;
    text-align: center;
    z-index: 1;
}

.open-icon:hover {
    fill: var(--color-grey-1);
    cursor: pointer;
}

.open-icon:hover + .complete-icon {
    fill: var(--color-success-hover);
    visibility: hidden;
    cursor: pointer;
}

.hide-checkmark {
    opacity: 0;
    transition: var(--fast-transition);
}

.plus-icon {
    fill: var(--color-accent);
    max-height: 25px;
}

.plus-icon:hover {
    fill: var(--color-accent-hover);
}



/* .mastery-rating {
    background-color: var(--color-success);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 20px;
    left: 35%;
    z-index: 0;
} */

.mastery-number {
    display: inline;
    text-align: center;
    background-color: var(--color-grey-2);
    width: 40px;
    border-radius: 2rem;
    transition: var(--default-transition);

    color: white;
}

/* .mastery-number:hover {
    box-shadow: 1px 1px 3px 0px var(--color-black-trans);
} */

/* .mastery-number::after {
    content: "";
    display: block;
    background-color: green;
    width: 50px;
    height: 50px;
} */



/* @media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
} */